button.dark-btn dark
button.en-btn en
.fav-page#ball
    .banner
        .banner__light
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/light-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/light-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/light-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/light-desc.png")
                img(src="img/banner/light-desc.png" alt="Favbet")
        .banner__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/title-desc.png")
                img(src="img/banner/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/en/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/en/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/en/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/en/title-desc.png")
                img(src="img/banner/en/title-desc.png" alt="Favbet")
        .banner__pers.sky
            picture.banner__pers-img
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/pers-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/pers-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/pers-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/pers-desc.png")
                img(src="img/banner/pers-desc.png" alt="Favbet")
            .banner__ball
                picture.uk
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/ball-tab.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/ball-tab.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/ball-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/ball-desc.png")
                    img(src="img/banner/ball-desc.png" alt="Favbet")
                picture.en
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/en/ball-tab.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/en/ball-tab.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/en/ball-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/en/ball-desc.png")
                    img(src="img/banner/en/ball-desc.png" alt="Favbet")
            .banner__gift
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/gift-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/gift-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/gift-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/gift-desc.png")
                    img(src="img/banner/gift-desc.png" alt="Favbet")
        a(href="#").banner__btn.btn  #[span.flare-container #[span.flare]] #[span(data-translate="mainBtn") Взяти участь  ]
        a(href="/login/").banner__btn.btn.unauth-msg.hide #[span.flare-container #[span.flare]]  #[span(data-translate="signBtn") авторизуйся]
        a(href="/login/").banner__btn.btn.btn-join.hide #[span.flare-container #[span.flare]] #[span(data-translate="partBtn") реєстрація]
        .banner__date(data-translate="bannerDate") Період проведення акції - з 11.12.2024 до 25.12.2024.
        .banner__bottom(data-translate="bannerBottom").
            *Загальний призовий фонд Акції «Розтруси Сема на Різдво» складає 5 000 000 ₴
             електронних грошових замінників, 22 025  фріспінів та інших визначених
              Організатором фізичних призів. Період дії Акції з 11.12.2024 по 25.12.2024 року.
               Деталі акції на сайті favbet.ua
    .guide._sign
        .guide__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/guide/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/guide/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/guide/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/guide/title-desc.png")
                img(src="img/guide/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/guide/en/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/guide/en/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/guide/en/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/guide/en/title-desc.png")
                img(src="img/guide/en/title-desc.png" alt="Favbet")
        .guide__subtitle(data-translate="guideSubtitle").
            Протягом 2 тижнів бери участь в акції «Новорічне промо» від FAVBET та
            отримуй можливість виграти частину з призового фонду в 5 000 000 гривень,
            22 025 фріспінів та інших крутих фізичних призів.
        .guide__list.sky
            .guide__item
               .guide__item-num
               .guide__item-info
                   .guide__item-info-title(data-translate="guideItemTitle1") Тицяй кнопку
                   .guide__item-info-subtitle(data-translate="guideItemSubitle1") Натисни кнопку <br> «Взяти участь»
                   .guide__item-info-btn.info-btn(data-translate="popupBtn") Детальніше
               .guide__item-snow.sky
               .guide__item-popup
                    .guide__item-popup-close.info-btn(data-translate="popupBtnCLose") закрити
                    .guide__item-popup-text(data-translate="guidePopup1").
                        Натисни кнопку «Взяти участь» один раз та грай у 2-х турнірах Акції. 
                        Роби ставки в акційних іграх в розділі «Казино»,
                        став на спортивні події у розділах «Спорт», «LIVE» та «Кіберспорт»
                        Натисни кнопку «Взяти участь» один раз та грай у 2-х турнірах Акції. 
                        Роби ставки в акційних іграх в розділі «Казино»,
                        став на спортивні події у розділах «Спорт», «LIVE» та «Кіберспорт»
            .guide__item
               .guide__item-num
               .guide__item-info
                   .guide__item-info-title(data-translate="guideItemTitle2") Набирай бали
                   .guide__item-info-subtitle(data-translate="guideItemSubitle2") Заробляй бали та просувайся в турнірній таблиці
                   .guide__item-info-btn.info-btn(data-translate="popupBtn") Детальніше
               .guide__item-popup
                    .guide__item-popup-close.info-btn(data-translate="popupBtnCLose") закрити
                    .guide__item-popup-text(data-translate="guidePopup2").
                        Натисни кнопку «Взяти участь» один раз та грай у 2-х турнірах Акції. 
                        Роби ставки в акційних іграх в розділі «Казино»,
                        став на спортивні події у розділах «Спорт», «LIVE» та «Кіберспорт»
                        Натисни кнопку «Взяти участь» один раз та грай у 2-х турнірах Акції. 
                        Роби ставки в акційних іграх в розділі «Казино»,
                        став на спортивні події у розділах «Спорт», «LIVE» та «Кіберспорт»
            .guide__item
               .guide__item-num
               .guide__item-info
                   .guide__item-info-title(data-translate="guideItemTitle3") Вигравай призи
                   .guide__item-info-subtitle(data-translate="guideItemSubitle3") Змагайся за додаткові <br> призи та ігрові бали в <br> турнірну таблицю.
                   .guide__item-info-btn.info-btn(data-translate="popupBtn")  Детальніше
               .guide__item-popup
                    .guide__item-popup-close.info-btn(data-translate="popupBtnCLose")  закрити
                    .guide__item-popup-text(data-translate="guidePopup3").
                        Натисни кнопку «Взяти участь» один раз та грай у 2-х турнірах Акції. 
                        Роби ставки в акційних іграх в розділі «Казино»,
                        став на спортивні події у розділах «Спорт», «LIVE» та «Кіберспорт»
                        Натисни кнопку «Взяти участь» один раз та грай у 2-х турнірах Акції. 
                        Роби ставки в акційних іграх в розділі «Казино»,
                        став на спортивні події у розділах «Спорт», «LIVE» та «Кіберспорт»
        a(href="/login/").guide__btn.btn.unauth-msg.hide #[span.flare-container #[span.flare]]  #[span(data-translate="signBtn") авторизуйся]
        a(href="/login/").guide__btn.btn.btn-join.hide #[span.flare-container #[span.flare]] #[span(data-translate="partBtn") реєстрація]
        .guide__wrap.btn-wrap
            a(href="#").guide__btn.btn #[span(data-translate="casinoBtn") #[span.flare-container #[span.flare]] грати в казино]
            a(href="#").guide__btn.btn #[span(data-translate="sportBtn") #[span.flare-container #[span.flare]] Ставити на спорт]
    .ball._sign
        .ball__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/ball/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/ball/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/ball/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/ball/title-desc.png")
                img(src="img/ball/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/ball/en/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/ball/en/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/ball/en/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/ball/en/title-desc.png")
                img(src="img/ball/en/title-desc.png" alt="Favbet")
        .ball__subtitle(data-translate='ballSubtitle') Щодня отримуй можливість потрусити Кулю Сема та виграти приз.
        .ball__wrap
            .ball__pers
                picture
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/ball/pers-tab.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/ball/pers-tab.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/ball/pers-desc.png")
                    img(src="img/ball/pers-desc.png" alt="Favbet")
            .sphere.ball__sphere
                .sphere__box
                .sphere__body
                    canvas.snowCanvas
                .sphere__ground
                .sphere__leg
                .sphere__light
                .sphere__win
                    .sphere__win-title
                        img(src="./img/ball/sphere/win-title.png" alt="favbet")
                    .sphere__win-desc
                        .sphere__win-desc-iphone(data-translate="winIphone") Смартфон «IPhone 16 PRO MAX (512)»
                        .sphere__win-desc-tv(data-translate="winTv") Телевізор «Samsung 55»
                        .sphere__win-desc-jbl(data-translate="winJbl") Акустична система <br> «JBL Pulse 5 Black»
                        .sphere__win-desc-megogo(data-translate="winMegogo") Підписка «MEGOGO» на рік
                        .sphere__win-desc-nothing(data-translate="winNothing") Завтра пощастить
                        .sphere__win-desc-respin(data-translate="winRespin") Додатковий протрус в кулі Сема
                        .sphere__win-desc-points50(data-translate="winPoints50") Додаткові 50 ігрових <br> балів в турнірну таблицю
                        .sphere__win-desc-fs10(data-translate="winFs10") 10 FS 3 oaks у грі Sun of Egypt 3
                        .sphere__win-desc-fs25(data-translate="winFs25") 25 FS Playson у грі Jingle <br> Coins: Hold and Win
                        .sphere__win-desc-fs50(data-translate="winFs50") 50 FS Pragmatic у грі Sweet <br> Bonanza Xmas
                        .sphere__win-desc-saveBet100(data-translate="winSaveBet100") Персональний бонус <br> «Страховка ставки» до 100 ₴
                        .sphere__win-desc-saveBet150(data-translate="winSaveBet150") Персональний бонус <br> «Страховка ставки» до 150 ₴
                        .sphere__win-desc-saveBet200(data-translate="winSaveBet200") Персональний бонус <br> «Страховка ставки» до 200 ₴
                    .sphere__win-img
                        .sphere__win-img-iphone
                            img(src="./img/ball/sphere/iphone.png" alt="favbet")
                        .sphere__win-img-tv
                            img(src="./img/ball/sphere/tv.png" alt="favbet")
                        .sphere__win-img-jbl
                            img(src="./img/ball/sphere/jbl.png" alt="favbet")
                        .sphere__win-img-megogo
                            img(src="./img/ball/sphere/megogo.png" alt="favbet")
                        .sphere__win-img-respin
                            img(src="./img/ball/sphere/respin.png" alt="favbet")
                        .sphere__win-img-nothing
                            img(src="./img/ball/sphere/nothing.png" alt="favbet")
                        .sphere__win-img-points50
                            img(src="./img/ball/sphere/points50.png" alt="favbet")
                        .sphere__win-img-fs10
                            img(src="./img/ball/sphere/fs10.png" alt="favbet")
                        .sphere__win-img-fs25
                            img(src="./img/ball/sphere/fs25.png" alt="favbet")
                        .sphere__win-img-fs50
                            img(src="./img/ball/sphere/fs50.png" alt="favbet")
                        .sphere__win-img-saveBet100
                            img(src="./img/ball/sphere/saveBet100.png" alt="favbet")
                        .sphere__win-img-saveBet150
                            img(src="./img/ball/sphere/saveBet150.png" alt="favbet")
                        .sphere__win-img-saveBet200
                            img(src="./img/ball/sphere/saveBet200.png" alt="favbet")
            .ball__list
                .ball__list-item(data-translate='ballInfo1') 1 день - #[span 1 протрус]
                .ball__list-item(data-translate='ballInfo2') 1 протрус - #[span 50 балів] у шкалу прогресу
        .progress.ball__progress
            .progress__left
                .progress__title
                    .progress__title-item(data-translate="progressTitle") Твій прогрес:
                    .progress__title-item 50/50 балів
                    .progress__title-lock(data-translate="progressTitleLock") Набери більше балів щоб трусити кулю.
                .progress__popup-btn.info-btn(data-translate="popupBtn") Детальніше
                .progress__popup.hide
                    .progress__popup-close.info-btn Закрити
                    .progress__popup-text.
                        Phone 16 Pro Max  —  це  найпотужніший і найбільший смартфон Apple. 
                        Смартфон оснащений 6,9-дюймовим  LTPO Super Retina XDR OLED дисплеєм з  адаптивною частотою оновлення до  120 
                        Гц. Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер. Смартфон підтримує стандарт 
                        Thunderbolt 4 через  USB-C  роз’єм, що  прискорює передачу даних і зарядку. Корпус виготовлено з  титану  5-го  класу, 
                        що  робить його легшим, але дуже міцним. iPhone 16 Pro Max також підтримує  Wi-Fi  7, забезпечуючи ще  більш швидкі з’єднання.
                         Акумулятор став ще  більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .progress__bar
                .progress__bar-body
                    .progress__bar-thumb
                .progress__bar-wrap
                    .progress__bar-point._active 10
                    .progress__bar-point._active 20
                    .progress__bar-point._active 30
                    .progress__bar-point 40
            .progress__shake #[span(data-translate="shakeBtn") трусити]
        a(href="/login/").ball__sign.btn.unauth-msg.hide #[span.flare-container #[span.flare]]  #[span(data-translate="signBtn") авторизуйся]
        a(href="/login/").ball__sign.btn.btn-join.hide #[span.flare-container #[span.flare]] #[span(data-translate="partBtn") реєстрація]
        .ball__btn-wrap.btn-wrap
            a(href="#").games__btn.btn #[span(data-translate="casinoBtn") #[span.flare-container #[span.flare]] грати в казино]
            a(href="#").games__btn.btn #[span(data-translate="sportBtn") #[span.flare-container #[span.flare]] Ставити на спорт]
        .drop
            details.dropdown
                summary(data-translate="mySpins") мої прокрути
                .drop-txt
                    .drop-txt-list.my-spins
                        .spins-row
                            .spins-row-item
                                .content-date(data-translate="mySpinsDate") Дата
                                .content-prize(data-translate="mySpinsPrize") Приз
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                            .spins-row-item
                                .content-date 18.03
                                .content-prize EcoFlow RIVER 2
                        .no-spins(data-translate="noSpins") Немає прокрутів
    .prize
        .prize__container
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup1").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup2").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup5").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup6").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup3").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup7").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup9").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup10").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup11").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
            .prize__container-item
                .prize__list-popup
                    .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                    .prize__list-popup-text(data-translate="prizePopup12").
                        Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                        6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                         Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                          Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                          Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                          iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                         Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
        .prize__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/prize/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/prize/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/prize/title-desc.png")
                img(src="img/prize/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/prize/en/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize/en/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/prize/en/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/prize/en/title-desc.png")
                img(src="img/prize/en/title-desc.png" alt="Favbet")
        .prize__slider
            .prize__slider-move
                .prize__slider-move-left
                .prize__slider-move-right
            .prize__list
                .prize__list-scroll
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeIphone") iPhone 16 PRO <br> MAX (512)
                        .prize__list-item-img
                            img(src="./img/ball/sphere/iphone.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeTv") Телевізор «Samsung 55»
                        .prize__list-item-img
                            img(src="./img/ball/sphere/tv.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeJbl") Акустична система «JBL Pulse 5 Black»
                        .prize__list-item-img
                            img(src="./img/ball/sphere/jbl.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeMegogo") Підписка «MEGOGO» на рік
                        .prize__list-item-img
                            img(src="./img/ball/sphere/megogo.png" alt="favbet")
                        .prize__list-item-decor
                        .prize__list-popup
                            .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                            .prize__list-popup-text(data-translate="prizePopup4").
                                Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                                6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                                 Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                                  Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                                  Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                                  iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                                 Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizePoints50") Додаткові 50 ігрових балів в турнірну таблицю
                        .prize__list-item-img
                            img(src="./img/ball/sphere/points50.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeFs10") 10 FS 3 oaks у грі Sun of Egypt 3
                        .prize__list-item-img
                            img(src="./img/ball/sphere/fs10.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeFs25") 25 FS Playson у грі Jingle Coins: Hold and Win
                        .prize__list-item-img
                            img(src="./img/ball/sphere/fs25.png" alt="favbet")
                        .prize__list-item-decor
                        .prize__list-popup
                            .prize__list-popup-close.info-btn(data-translate="closeBtn") Закрити
                            .prize__list-popup-text(data-translate="prizePopup8").
                                Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                                6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                                 Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                                  Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                                  Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                                  iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                                 Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeFs50") 50 FS Pragmatic у грі Sweet Bonanza Xmas
                        .prize__list-item-img
                            img(src="./img/ball/sphere/fs50.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeSaveBet100") Персональний бонус «Страховка ставки» до 100 ₴
                        .prize__list-item-img
                            img(src="./img/ball/sphere/saveBet100.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeSaveBet150") Персональний бонус «Страховка ставки» до 150 ₴
                        .prize__list-item-img
                            img(src="./img/ball/sphere/saveBet150.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeSaveBet200") Персональний бонус «Страховка ставки» до 200 ₴
                        .prize__list-item-img
                            img(src="./img/ball/sphere/saveBet200.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title(data-translate="prizeRespin") Додатковий протрус в кулі Сема
                        .prize__list-item-img
                            img(src="./img/prize/respin.png" alt="favbet")
                        .prize__list-item-decor
    .table
        .table__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/table/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/table/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/table/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/table/title-desc.png")
                img(src="img/table/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/table/en/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/table/en/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/table/en/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/table/en/title-desc.png")
                img(src="img/table/en/title-desc.png" alt="Favbet")
        .table__subtitle Встигни потрапити в лідери Турнірної таблиці та змагайся за призи
        .table__wrap
            .table__btns
                .table__toggle
                    .table__toggle-item(data-translate="tableBtnFirst")._active 1 тиждень
                    .table__toggle-item(data-translate="tableBtnSecond") 2 тиждень
                .table__info(data-translate="tableBtnPopup") Таблиця розподілу призів
            .table__head
                .table__head-item(data-translate="tablePlace") Місце
                .table__head-item(data-translate="tableId") ID
                .table__head-item(data-translate="tablePoints") Бали
                .table__head-item(data-translate="tablePrize") Приз
                .table__head-item(data-translate="tableWager") Wager
            .table__body._active
                .table__body-row.gold
                    .table__body-row-item 1
                    .table__body-row-item 23334
                    .table__body-row-item 12003
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 1x
                .table__body-row.silver
                    .table__body-row-item 2
                    .table__body-row-item 23334
                    .table__body-row-item 3242
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 2x
                .table__body-row.bronze
                    .table__body-row-item 3
                    .table__body-row-item 23334
                    .table__body-row-item 234
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 4
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 5
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 6
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 7
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 8
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 9
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 10
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
            .table__body
                .table__body-row.gold
                    .table__body-row-item 1
                    .table__body-row-item 23334
                    .table__body-row-item 12003
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 1x
                .table__body-row.silver
                    .table__body-row-item 2
                    .table__body-row-item 23334
                    .table__body-row-item 3242
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 2x
                .table__body-row.bronze
                    .table__body-row-item 3
                    .table__body-row-item 23334
                    .table__body-row-item 234
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 4
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 5
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 6
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 7
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 8
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 9
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 10
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
            .table__user._active
                .table__body-row
                    .table__body-row-item 24
                    .table__body-row-item 23334
                    .table__body-row-item 12003
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 1x
                .table__body-row.you
                    .table__body-row-item.you 25
                    .table__body-row-item 23334
                    .table__body-row-item 3242
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 2x
                .table__body-row
                    .table__body-row-item 26
                    .table__body-row-item 23334
                    .table__body-row-item 234
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
        .drop
            details.dropdown
                summary(data-translate="rulesTitleTable") Як набирати бали в турнірій таблиці
                .drop-txt
                    .drop-txt-list(data-translate="rulesTxtTable")
                        p 1. Натисни кнопку «Взяти участь».
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Роби виграшні ставки на кіберспортивний турнір «Shanghai Major 2024» .
                        p.
                            З 22 листопада до 15 грудня 2024 року роби виграшні ставки від 200 ₴ на
                             кіберспортивний турнір «Shanghai Major 2024» у розділі «Кіберспорт» або «Live»
                             та заробляй по 1 балу за кожні розраховані 200 ₴. Ставки повинні бути розраховані
                             з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій),
                              без здійснення ставок з Бонусного балансу,
        .table__popup.hide
            .table__popup-wrap
                .table__popup-close.info-btn(data-translate="closeBtn") Закрити
                .table__popup-title(data-translate="tablePopupTitle") Таблиця розподілу призів
                .table__popup-body
                    .table__popup-scroll
                        .table__popup-place
                            .table__popup-place-item(data-translate="tablePlace") Місце
                            .table__popup-place-item 1
                            .table__popup-place-item 2
                            .table__popup-place-item 3
                            .table__popup-place-item 4
                            .table__popup-place-item 5
                            .table__popup-place-item 6
                            .table__popup-place-item 7
                            .table__popup-place-item 8
                            .table__popup-place-item 9
                            .table__popup-place-item 10
                            .table__popup-place-item 11-20
                            .table__popup-place-item 21-30
                            .table__popup-place-item 31-40
                            .table__popup-place-item 41-50
                            .table__popup-place-item 51-70
                            .table__popup-place-item 71-100
                            .table__popup-place-item 101-150
                            .table__popup-place-item 151-200
                            .table__popup-place-item 201-250
                            .table__popup-place-item 251-300
                            .table__popup-place-item 301-350
                            .table__popup-place-item 351-400
                            .table__popup-place-item 401-450
                            .table__popup-place-item 451-500
                            .table__popup-place-item 501-550
                            .table__popup-place-item 551-600
                            .table__popup-place-item 601-650
                            .table__popup-place-item 651-700
                            .table__popup-place-item 701-750
                        .table__popup-prize
                            .table__popup-prize-item(data-translate="tablePrize") Приз
                            .table__popup-prize-item 120 000 ₴
                            .table__popup-prize-item 100 000 ₴
                            .table__popup-prize-item 90 000 ₴
                            .table__popup-prize-item 80 000 ₴
                            .table__popup-prize-item 70 000 ₴
                            .table__popup-prize-item 60 000 ₴
                            .table__popup-prize-item 50 000 ₴
                            .table__popup-prize-item 40 000 ₴
                            .table__popup-prize-item 30 000 ₴
                            .table__popup-prize-item 20 000 ₴
                            .table__popup-prize-item 17 000 ₴
                            .table__popup-prize-item 15 000 ₴
                            .table__popup-prize-item 12 000 ₴
                            .table__popup-prize-item 10 000 ₴
                            .table__popup-prize-item 8 000 ₴
                            .table__popup-prize-item 7 000 ₴
                            .table__popup-prize-item 6 000 ₴
                            .table__popup-prize-item 4 000 ₴
                            .table__popup-prize-item 3 000 ₴
                            .table__popup-prize-item 2 000 ₴
                            .table__popup-prize-item 1 000 ₴
                            .table__popup-prize-item 800 ₴
                            .table__popup-prize-item 700 ₴
                            .table__popup-prize-item 600 ₴
                            .table__popup-prize-item 500 ₴
                            .table__popup-prize-item 500 СС
                            .table__popup-prize-item 375 СС
                            .table__popup-prize-item 45 FS
                            .table__popup-prize-item 25 FS
                        .table__popup-wager
                            .table__popup-wager-item(data-translate="tableWager") Wager
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item x1
                            .table__popup-wager-item x1
                            .table__popup-wager-item x1
                            .table__popup-wager-item x1
                            .table__popup-wager-item x2
                            .table__popup-wager-item x2
                            .table__popup-wager-item x2
                            .table__popup-wager-item x3
                            .table__popup-wager-item x3
                            .table__popup-wager-item x3
                            .table__popup-wager-item x4
                            .table__popup-wager-item x4
                            .table__popup-wager-item x5
                            .table__popup-wager-item x5
                            .table__popup-wager-item x5
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -
                            .table__popup-wager-item -

    .games._sign
        .sky
        .games__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/games/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/games/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/games/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/games/title-desc.png")
                img(src="img/games/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/games/en/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/games/en/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/games/en/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/games/en/title-desc.png")
                img(src="img/games/en/title-desc.png" alt="Favbet")
        .games__list._week1
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game1.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game2.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game3.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game4.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game5.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game6.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game7.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game8.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game9.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week1/game10.png" alt="favbet")
        .games__list._week2
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game1.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game2.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game3.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game4.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game5.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game6.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game7.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game8.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game9.png" alt="favbet")
            .games__list-item
                .games__list-wrap
                    a(href="#").games__list-wrap-btn.btn #[span.flare-container #[span.flare]]  #[span(data-translate="gamesBtn") грати ]
                img(src="./img/games/week2/game10.png" alt="favbet")
        a(href="/login/").games__btn.btn.unauth-msg.hide #[span.flare-container #[span.flare]] #[span(data-translate="signBtn") авторизуйся]
        a(href="/login/" ).games__btn.btn.btn-join.hide #[span.flare-container #[span.flare]] #[span(data-translate="partBtn") #[span(data-translate="partBtn") реєстрація]]
        .games__wrap.btn-wrap
            a(href="#").games__btn.btn #[span.flare-container #[span.flare]] #[span(data-translate="casinoBtn")  Грати в казино]
            a(href="#").games__btn.btn #[span.flare-container #[span.flare]] #[span(data-translate="sportBtn") Ставити на спорт]
    .drop
        details.dropdown
            summary(data-translate="rulesTitle") Як набирати бали в турнірій таблиці
            .drop-txt
                .drop-txt-list(data-translate="rulesTxt")
                    p 1. Натисни кнопку «Взяти участь».
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Роби виграшні ставки на кіберспортивний турнір «Shanghai Major 2024» .
                    p.
                        З 22 листопада до 15 грудня 2024 року роби виграшні ставки від 200 ₴ на
                         кіберспортивний турнір «Shanghai Major 2024» у розділі «Кіберспорт» або «Live»
                         та заробляй по 1 балу за кожні розраховані 200 ₴. Ставки повинні бути розраховані
                         з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій),
                          без здійснення ставок з Бонусного балансу,