.fav-page
    .banner
        .banner__light
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/light-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/light-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/light-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/light-desc.png")
                img(src="img/banner/light-desc.png" alt="Favbet")
        .banner__title
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/title-desc.png")
                img(src="img/banner/title-desc.png" alt="Favbet")
        .banner__pers.sky
            picture.banner__pers-img
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/pers-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/pers-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/pers-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/pers-desc.png")
                img(src="img/banner/pers-desc.png" alt="Favbet")
            .banner__ball
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/ball-tab.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/ball-tab.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/ball-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/ball-desc.png")
                    img(src="img/banner/ball-desc.png" alt="Favbet")
            .banner__gift
                picture
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/banner/gift-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/banner/gift-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/banner/gift-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/banner/gift-desc.png")
                    img(src="img/banner/gift-desc.png" alt="Favbet")


        a(href="#").banner__btn.btn #[span Взяти участь ]
        .banner__date Період проведення акції - з 11.12.2024 до 25.12.2024.
        .banner__bottom.
            *Загальний призовий фонд Акції «Розтруси Сема на Різдво» складає 5 000 000 ₴
             електронних грошових замінників, 22 025  фріспінів та інших визначених
              Організатором фізичних призів. Період дії Акції з 11.12.2024 по 25.12.2024 року.
               Деталі акції на сайті favbet.ua
    .guide
        .guide__title
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/guide/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/guide/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/guide/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/guide/title-desc.png")
                img(src="img/guide/title-desc.png" alt="Favbet")
        .guide__subtitle.
            Протягом 2 тижнів бери участь в акції «Новорічне промо» від FAVBET та
            отримуй можливість виграти частину з призового фонду в 5 000 000 гривень,
            22 025 фріспінів та інших крутих фізичних призів.
        .guide__list.sky
            .guide__item
               .guide__item-num
               .guide__item-info
                   .guide__item-info-title Тицяй кнопку
                   .guide__item-info-subtitle Натисни кнопку <br> «Взяти участь»
                   .guide__item-info-btn.info-btn Детальніше
               .guide__item-snow.sky
            .guide__item
               .guide__item-num
               .guide__item-info
                   .guide__item-info-title Набирай бали
                   .guide__item-info-subtitle Заробляй бали та просувайся в турнірній таблиці
                   .guide__item-info-btn.info-btn Детальніше
            .guide__item
               .guide__item-num
               .guide__item-info
                   .guide__item-info-title Вигравай призи
                   .guide__item-info-subtitle Змагайся за додаткові <br> призи та ігрові бали в <br> турнірну таблицю.
                   .guide__item-info-btn.info-btn Детальніше
        .guide__wrap.btn-wrap
            a(href="#").guide__btn.btn #[span Грати в казино]
            a(href="#").guide__btn.btn #[span Ставити на спорт]
    .ball._lock
        .ball__title
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/ball/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/ball/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/ball/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/ball/title-desc.png")
                img(src="img/ball/title-desc.png" alt="Favbet")
        .ball__subtitle Щодня отримуй можливість потрусити Кулю Сема та виграти приз.
        .ball__wrap
            .ball__pers
                picture
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/ball/pers-tab.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/ball/pers-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/ball/pers-desc.png")
                    img(src="img/ball/pers-desc.png" alt="Favbet")
            .sphere.ball__sphere
                .sphere__box
                .sphere__body.sky
                .sphere__ground
                .sphere__leg
                .sphere__prizes.hide
                    .sphere__prize
                        .sphere__prize-title
                        .sphere__prize-subtitle
                        .sphere__prize-img
            .ball__list
                .ball__list-item 1 день - #[span 1 протрус]
                .ball__list-item 1 протрус - #[span 50 балів] у шкалу прогресу
        .progress.ball__progress
            .progress__left
                .progress__title
                    .progress__title-item Твій прогрес:
                    .progress__title-item 50/50 балів
                    .progress__title-lock Набери більше балів щоб трусити кулю.
                .progress__popup-btn.info-btn Детальніше
            .progress__bar
                .progress__bar-body
                    .progress__bar-thumb
                .progress__bar-wrap
                    .progress__bar-point._active 10
                    .progress__bar-point._active 20
                    .progress__bar-point._active 30
                    .progress__bar-point 40
            a(href="#").progress__shake #[span трусити]
    .prize
        .prize__title
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/prize/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/prize/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/prize/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/prize/title-desc.png")
                img(src="img/prize/title-desc.png" alt="Favbet")
        .prize__slider
            .prize__slider-move
                .prize__slider-move-left
                .prize__slider-move-right
            .prize__list
                .prize__list-scroll
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 1
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                        .prize__list-popup
                            .prize__list-popup-close.info-btn закрити
                            .prize__list-popup-text.
                                Phone 16 Pro Max — це найпотужніший і найбільший смартфон Apple. Смартфон оснащений
                                6,9-дюймовим LTPO Super Retina XDR OLED дисплеєм з адаптивною частотою оновлення до 120 Гц.
                                 Процесор Apple A18 Pro (3 нм). iPhone 16 Pro Max оснащений вдосконаленою системою камер.
                                  Смартфон підтримує стандарт Thunderbolt 4 через USB-C роз’єм, що прискорює передачу даних і зарядку.
                                  Корпус виготовлено з титану 5-го класу, що робить його легшим, але дуже міцним.
                                  iPhone 16 Pro Max також підтримує Wi-Fi 7, забезпечуючи ще більш швидкі з’єднання.
                                 Акумулятор став ще більш витривалим, гарантуючи тривалий час автономної роботи без частої підзарядки.
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 2
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 3
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 4
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 5
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 6
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 7
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 8
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 9
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 10
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 11
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor
                    .prize__list-item
                        .prize__list-item-snow
                        .prize__list-item-btn
                        .prize__list-item-title iPhone 16 PRO <br> MAX (512) 12
                        .prize__list-item-img
                            img(src="./img/prize/slide1.png" alt="favbet")
                        .prize__list-item-decor

            .prize__tabs
    .table
        .table__title
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/table/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/table/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/table/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/table/title-desc.png")
                img(src="img/table/title-desc.png" alt="Favbet")
        .table__subtitle Встигни потрапити в лідери Турнірної таблиці та змагайся за призи
        .table__wrap
            .table__btns
                .table__toggle
                    .table__toggle-item._active 1 тиждень
                    .table__toggle-item 2 тиждень
                .table__info Таблиця розподілу призів
            .table__head
                .table__head-item Місце
                .table__head-item ID
                .table__head-item Бали
                .table__head-item Приз
                .table__head-item Wager
            .table__body._active
                .table__body-row
                    .table__body-row-item 1
                    .table__body-row-item 23334
                    .table__body-row-item 12003
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 1x
                .table__body-row
                    .table__body-row-item 2
                    .table__body-row-item 23334
                    .table__body-row-item 3242
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 2x
                .table__body-row
                    .table__body-row-item 3
                    .table__body-row-item 23334
                    .table__body-row-item 234
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 4
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 5
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 6
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 7
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 8
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 9
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 10
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
            .table__body
                .table__body-row
                    .table__body-row-item 1
                    .table__body-row-item 23334
                    .table__body-row-item 12003
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 1x
                .table__body-row
                    .table__body-row-item 2
                    .table__body-row-item 23334
                    .table__body-row-item 3242
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 2x
                .table__body-row
                    .table__body-row-item 3
                    .table__body-row-item 23334
                    .table__body-row-item 234
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 4
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 5
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 6
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 7
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 8
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 9
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
                .table__body-row
                    .table__body-row-item 10
                    .table__body-row-item 23334
                    .table__body-row-item 100
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
            .table__user._active
                .table__body-row
                    .table__body-row-item 24
                    .table__body-row-item 23334
                    .table__body-row-item 12003
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 1x
                .table__body-row
                    .table__body-row-item.you 25
                    .table__body-row-item 23334
                    .table__body-row-item 3242
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 2x
                .table__body-row
                    .table__body-row-item 26
                    .table__body-row-item 23334
                    .table__body-row-item 234
                    .table__body-row-item 50 000 ЕГЗ*
                    .table__body-row-item 3x
        .drop
            details.dropdown
                summary(data-translate="rulesTitle") Як набирати бали в турнірій таблиці
                .drop-txt
                    .drop-txt-list(data-translate="rulesTxt")
                        p 1. Натисни кнопку «Взяти участь».
                        p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                        p 2. Роби виграшні ставки на кіберспортивний турнір «Shanghai Major 2024» .
                        p.
                            З 22 листопада до 15 грудня 2024 року роби виграшні ставки від 200 ₴ на
                             кіберспортивний турнір «Shanghai Major 2024» у розділі «Кіберспорт» або «Live»
                             та заробляй по 1 балу за кожні розраховані 200 ₴. Ставки повинні бути розраховані
                             з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій),
                              без здійснення ставок з Бонусного балансу,
    .games
        .games__title
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/games/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="img/games/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/games/title-desc.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/games/title-desc.png")
                img(src="img/games/title-desc.png" alt="Favbet")

        .games__list
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
            .games__list-item
                img(src="./img/games/game1.png" alt="favbet")
        .games__wrap.btn-wrap
            a(href="#").games__btn.btn #[span Грати в казино]
            a(href="#").games__btn.btn #[span Ставити на спорт]
    .drop
        details.dropdown
            summary(data-translate="rulesTitle") Як набирати бали в турнірій таблиці
            .drop-txt
                .drop-txt-list(data-translate="rulesTxt")
                    p 1. Натисни кнопку «Взяти участь».
                    p Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці Акції.
                    p 2. Роби виграшні ставки на кіберспортивний турнір «Shanghai Major 2024» .
                    p.
                        З 22 листопада до 15 грудня 2024 року роби виграшні ставки від 200 ₴ на
                         кіберспортивний турнір «Shanghai Major 2024» у розділі «Кіберспорт» або «Live»
                         та заробляй по 1 балу за кожні розраховані 200 ₴. Ставки повинні бути розраховані
                         з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій),
                          без здійснення ставок з Бонусного балансу,
